.EmotionItem {
    background-color: rgb(236,236,236);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.EmotionItem .emotion_img{
    width: 70%;
    margin-bottom: 3px;
}


.EmotionItem_on_1 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_2 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_3 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_4 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_5 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_6 {
    color : white;
    background-color: darkgray;
}

.EmotionItem_on_7 {
    color : white;
    background-color: darkgray;
}